---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import hero from "@/assets/hero.jpg";
import * as Experience from "@/components/experience";
import * as FAQ from "@/components/faq";
import Glow from "@/components/Glow.astro";
import * as Hero from "@/components/hero";
import * as Mission from "@/components/mission";
import TextAccent from "@/components/TextAccent.astro";
import * as Team from "@/components/team";
import PageLayout from "@/layouts/PageLayout.astro";
import ApolloLogo from "~icons/assets/apollo";
import DeutscheBankLogo from "~icons/assets/deutsche-bank";

import FlexportLogo from "~icons/assets/flexport";
import ICapitalLogo from "~icons/assets/icapital";
import PelotonLogo from "~icons/assets/peloton";
import ShopifyLogo from "~icons/assets/shopify";

const faqs = await getCollection("faq", (entry) =>
  entry.data.pages?.includes("home"),
);

const teamMembers = await getCollection("team");
---

<PageLayout
  title="About"
  description="At ResX, our mission is to make the exclusive accessible to everyone."
  templated
>
  {/* Hero Section */}

  <Hero.Root
    noDownload
    class="relative flex flex-col items-center justify-center **:data-[slot=hero-header]:max-w-4xl! **:data-[slot=hero-header]:pt-48"
  >
    <Hero.Title
      className="slide-in-from-top-10 slide-in-from-left-0! text-center text-[5rem] text-wrap max-md:text-left max-md:text-[4.5rem]"
      slot="title"
    >
      Making the
      <TextAccent class="slide-in-from-top-10 slide-in-from-left-0!">
        exclusive accessible
      </TextAccent>
    </Hero.Title>

    <Hero.Subtitle
      slot="subtitle"
      className="slide-in-from-left-0! slide-in-from-top-10 mx-auto max-w-none text-center text-lg max-md:text-left"
    >
      What began as an Instagram account helping people share their last-minute
      reservations, has since grown into an app connecting diners to the city’s
      most sought-after tables in both NYC and London.
    </Hero.Subtitle>

    <Fragment slot="background">
      <Image
        src={hero}
        alt="Hero Background"
        class="pointer-events-none absolute inset-0 -z-10 size-full object-cover opacity-15"
        layout="full-width"
        loading="eager"
      />
      <Glow
        class="absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-[calc(100%-2rem)] transition-all duration-1000 starting:translate-y-[200%]"
      />
    </Fragment>
  </Hero.Root>

  {/* How It Works Section */}

  <Mission.Root>
    <Mission.Content>
      <p>
        ResX was founded by regular people, for regular people, in response to a
        social scene that has increasingly catered only to those who can pay a
        premium or plan months ahead. Our goal is to bring back the flexibility
        of last-minute planning, so you can experience the best your city has to
        offer.
      </p>

      <p>
        We represent peak culture in motion - a live look at what’s
        trending. Making the exclusive accessible without lowering the bar for
        quality.
      </p>

      <p>
        Because life’s best plans are often the last-minute ones - and everyone
        deserves a seat at the table.
      </p>
    </Mission.Content>
  </Mission.Root>

  <Team.Root>
    <Team.Header>The Team</Team.Header>
    <Team.MemberGrid>
      {
        teamMembers.map((member) => (
          <Team.MemberItem size={member.data.size}>
            <Team.MemberItemAvatar color={member.data.color}>
              <Image src={member.data.image} alt={member.data.name} />
            </Team.MemberItemAvatar>
            <Team.MemberItemContent>
              <Team.MemberItemName>{member.data.name}</Team.MemberItemName>
              {member.data.role && (
                <Team.MemberItemRole>{member.data.role}</Team.MemberItemRole>
              )}
              <Team.MemberItemLabel>
                Current ResX Alert:
                <strong>{member.data.alert}</strong>
              </Team.MemberItemLabel>
            </Team.MemberItemContent>
          </Team.MemberItem>
        ))
      }
    </Team.MemberGrid>
  </Team.Root>

  {/* Experience Section */}

  <Experience.Root>
    <Experience.Title> Along the way, we've worked at: </Experience.Title>
    <Experience.LogoList>
      <Experience.Logo>
        <FlexportLogo />
      </Experience.Logo>
      <Experience.Logo>
        <ICapitalLogo />
      </Experience.Logo>
      <Experience.Logo>
        <PelotonLogo />
      </Experience.Logo>
      <Experience.Logo>
        <ShopifyLogo />
      </Experience.Logo>
      <Experience.Logo>
        <DeutscheBankLogo />
      </Experience.Logo>
      <Experience.Logo>
        <ApolloLogo />
      </Experience.Logo>
    </Experience.LogoList>
  </Experience.Root>

  {/* FAQ Section */}

  <FAQ.Root>
    <FAQ.Header>
      <FAQ.Title>
        Claiming a reservation is exciting, but we understand
        <TextAccent>you might have questions. </TextAccent>
      </FAQ.Title>
      <FAQ.Subtitle>
        All reservations on ResX are shared by our community, so we ask that
        you’re mindful and considerate when claiming one.
      </FAQ.Subtitle>
    </FAQ.Header>

    <FAQ.QuestionList client:visible questions={faqs} />
  </FAQ.Root>
</PageLayout>
